<nav>
    <div class="divSpacing">
        <ul>
            <li><a href="/">Accueil</a></li>
            <li><a href="/create/new">Creer un Produit</a></li>
            <li><a href="/receive">Recevoir des Stocks</a></li>
            <li><a href="/send">Enovyer des Stocks</a></li>
            <li><a href="/show">Afficher les Produits</a></li>
            <li><a href="/remove">Retirer un Produit</a></li>
        </ul>
    </div>
</nav>