<!DOCTYPE html>
<html lang="en">
<%- include('layouts/header'); -%>
<body>
    <%- include('layouts/title'); -%>
    
    <%- include('layouts/navbar'); -%>
    <div class="Data">
        <h1>Systeme de Gestion d'Inventaire</h1>
        <div class="Inventaire-Quantite">
            nombre de produits <br>
            <%= products.length %>
        </div>
    </div>
</body>
</html>