<!DOCTYPE html>
<html lang="en">
<%- include('layouts/header'); -%>
<body>
    <%- include('layouts/title'); -%>
    
    <%- include('layouts/navbar'); -%>

    <div class="Data">
        <h1>Recevoir des Stocks</h1>
        <form action="/receive/:code" method="post">
            <label>Code:</label><br>
            <input type="text" name="code" id="code"/><br>
            <label>Augmenter la quantite de:</label><br>
            <input type="text" name="quantite" id="quantite"/><br>
            <input class="button" type="submit" value="Augmenter"/>
        </form>
    </div>
</body>
</html>