html{
    background-color: black;
    color: white;
}
.titre{
    margin-left: 15%;
}
.titre:not(p){
padding-top: 90px;
}
.logo{
    position: absolute;
    height: 250px;
    width: 250px;
}
nav{
    border: 1px solid white;
    position: absolute;
    margin-top: 5%;
    width: 250px;
}
ul{
    background-color: white;
    color: black;
    list-style: none;
    margin: auto;
    padding-left: 5px;
}
li{
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}
a{
    text-decoration: none;
    color: #000;
}
.divSpacing{
    padding: 10px;
}
.Data{
    margin-left: 15%;
    margin-top: 6%;
}
.Inventaire-Quantite{
    background-color: teal;
    width: fit-content;
    padding: 10px 30px 10px 30px;
    text-align: center;
    border-radius: 30px;
    border: 1px solid white;
}
.Inventaire-Produit{
    background-color: teal;
    width: 200px;
    height: 300px;
    padding: 10px 30px 10px 30px;
    border-radius: 30px;
    border: 1px solid white;
    display: inline-table;
}
.button{
    margin-top: 10px;
}
.Product-Image{
    height: 100px;
    width: 100px;
    border: 2px solid black;
}
.Product{
    font-size: small;
}
.Product-Desc{
    font-weight: bold;
    font-size: larger;
}
.div-Product-Image{
    text-align: center;
}